<%= page_heading ('Users#index')%>

<p>Find me in app/views/users/index.html.erb</p>

          <p> <%= link_to  'create a new user', new_user_path %></p>

            <% @new_users.each do |user| %>
                <p><strong><%= user.username %></strong></p>
            <% end %>

          <% @users.each do |user|%>

          <%= render 'user' , user: user%>

          <% end %>

<%= content_tag :h1, 'This is generated tag!' %>

<%= content_tag :p, "This is a paragraph #{@users[0].username}!", class: 'my-p-tags' %>

          <% content_tag :ul do %>
             <% @users.each do |user| %>
               <%= content_tag :li, user.username%>
                 <% end %>
               <% end %>

<%= collection_select(:user, :user_id, User.all, :id, :username)%>
