<!DOCTYPE html>
<html>
  <head>
    <title>BrandNewBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <header>
      <%= image_tag 'lighthouse.jpg', %>

    </header>
    <% if !current_user.nil? %>
         <h1> Hi <%= current_user.username %>!</h1>
           <% link_to 'Log Out', logout_path, method: :delete %>

      <% end %>
    <%= yield %>
  </body>
</html>
